<header>
  <h1>Prueba Bootstrap</h1>
</header>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/home">Bienvenido</a>
        <a class="nav-link" routerLink="/listadoproductos">Listado Productos</a>
        <a class="nav-link" routerLink="/acercade">Acerca de</a>
      </div>
    </div>
  </div>
</nav>

<section>
  <router-outlet></router-outlet>
</section>

<!-- <a routerLink="/home">Bienvenida</a>
<a [routerLink]="'/listadoproductos'">Listado Productos</a>
<a routerLink="/acercade">Acerca de</a> -->

<footer>
  <p>Mi pie de página</p>
</footer>